<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/style.css" rel="stylesheet"> 
    <!--(enlace de iconos)---->
    <script src="https://kit.fontawesome.com/6686cdc141.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>

        <div class="caja-principal">
            <!-- Logo -->
        
            <div class="Img-log">
                    <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </div>
        

            <div class="barra-busqueda">
                <input type="text" placeholder="buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>


            <div class="venta-conteiner">
                <div class="iconos">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
        </div>
 
        <div class="venta-conteiner-2" style="width: 20%;">
            <div class="icono-texto">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>

        <vid class="boton-hamburguesa">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </vid>
        

        <div class="barra-arriba">
            <ul class="barra-opciones">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="register-barra">
                <li><a href="http://localhost:3001/Registrarse">Creá tu cuenta</a><i class="far fa-address-card"></i></li>

                <li><a href="http://localhost:3001/IniciarSeccion">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="conteiner-principal">
            <div class="baner">
                <img src="/img/img-home-banner.jpg">
            </div>

            <h1 class="ultimas-visitas">Basado en tu última visita</h1>

            <div class="conteiner-product">
             <article class="product">
                    <div class="producto-art">
                        <div class="img-ultimas-visitas">
                            <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
                            
                        </div>
                        <div class="product-detalle">
                            <div class="envio-icono-verde">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="price">$6.770</p>
                            <p class="descuento">40% OFF</p>
                            <h2 class="titulo">Cafetera Moulinex</h2>
                        </div>
                    </div>
            
              </article>
             <article class="product">
                <div class="producto-art">
                    <div class="img-ultimas-visitas">
                            <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                        </div>
                        <div class="product-detalle">
                            <div class="envio-icono-verde">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="price">$230.000</p>
                            <p class="descuento">20% OFF</p>
                            <h2 class="titulo">MacBook Pro 2019</h2>
                   </div>
                </div>
             </article>
             <article class="product">
                    <div class="producto-art">
                        <div class="img-ultimas-visitas">
                            <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                        </div>
                        <div class="product-detalle">
                            <div class="envio-icono-verde">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="price">$70.500</p>
                            <p class="descuento">10% off</p>
                            <h2 class="titulo">Samsung Galaxy S10</h2>
                        </div>
                    </div>
                </article>
             <article class="product">
                    <div class="producto-art">
                        <div class="img-ultimas-visitas">
                            <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen del SmartTV">
                        </div>
                        <div class="product-detalle">
                            <div class="envio-icono-verde">
                                <i class="fa-solid fa-truck"></i>
                            </div>
                            <p class="price">$23.200</p>
                            <p class="descuento">5% off</p>
                            <h2 class="titulo">SmartTV Samsung 43</h2>
                        </div>
                    </div>
              </article>
            </div>
        </div>
        <h1 class="ultimas-visitas">Ofertas</h1>
        <div class="conteiner-product">
        
         <article class="product">
                <div class="product-art">
                    <div class="img-ultimas-visitas">
                        <img src="/img/img-cafetera-moulinex.jpg" alt="Imagen de cafetera">
                    </div>
                    <div class="product-detalle">
                        <div class="envio-icono-verde">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="price">$6.770</p>
                        <p class="descuento">40% OFF</p>
                        <h2 class="titulo">Cafetera Moulinex</h2>
                    </div>
                </div>
            </a>
         </article>

         <article class="product">
                <div class="product-art">
                    <div class="img-ultimas-visitas">
                        <img src="/img/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                    </div>
                    <div class="product-detalle">
                        <div class="envio-icono-verde">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="price">$230.000</p>
                        <p class="descuento">20% OFF</p>
                        <h2 class="titulo">MacBook Pro 2019</h2>
                    </div>
                </div>
            </a>
         </article>

        
         <article class="product">
                <div class="product-art">
                    <div class="img-ultimas-visitas">
                        <img src="/img/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                    </div>
                    <div class="product-detalle">
                        <div class="envio-icono-verde">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="price">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h2 class="titulo">Samsung Galaxy S10</h2>
                    </div>
                </div>
            </a>
        </article>

       
         <article class="product">
                <div class="product-art">
                    <div class="img-ultimas-visitas">
                        <img src="/img/img-tv-samsung-smart.jpg" alt="Imagen del SmartTV">
                    </div>
                    <div class="product-detalle">
                        <div class="envio-icono-verde">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <p class="price">$23.200</p>
                        <p class="descuento">5% off</p>
                        <h2 class="titulo">SmartTV Samsung 43</h2>
                    </div>
                </div>
            </a>
         </article>

        </div>


        </div>
    </main>

    <footer>
        <section>
            <div class="icono-t" >
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <div class="icono-e">
                <i class="fa-solid fa-gift"></i>

            </div>
            <h3>Envío gratis desde $2.500</h3>

            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div class="icono-p">
                <i class="fa-solid fa-user-shield"></i>

            </div>
            <h3>Seguridad, de principio a fin</h3>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </section>
        <p class="derechos-autor">copyright &copy; 1999-2020 MercadoLiebre.</p>
    </footer>
</body>
</html>