<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="/css/IniciarSeccion.css" rel="stylesheet"> 
    <!--(enlace de iconos)---->
    <script src="https://kit.fontawesome.com/6686cdc141.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="caja-principal">
            <!-- Logo -->
            <div class="Img-log">
                    <img src="/img/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </div>
            <div class="barra-busqueda">
                <input type="text" placeholder="buscar productos, marcas">
                <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <div class="venta-conteiner">
                <div class="iconos">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
                </div>
            </div>
        </div>
        <div class="venta-conteiner-2" style="width: 20%;">
            <div class="icono-texto">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <vid class="boton-hamburguesa">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </vid>
        <div class="barra-arriba">
            <ul class="barra-opciones">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="register-barra">
                <li><a href="#">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
            </ul>
        </div>
    </header>
    <main>
        <div class="conteiner-form">
            <div class="formulario">
                <form>
                    <div class="campos">
                        <input type="text" id="nombreUsuario" name="nombreUsuario"
                            placeholder="Ingrese su nombre de usuario" required>
                    </div>
                    <div class="campos">
                        <input type="password" id="contrasena" name="contrasena" placeholder="Ingrese su contraseña"
                            required>
                    </div>
                        <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <section>
            <div class="icono-t" >
                <i class="fa-solid fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>

            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <div class="icono-e">
                <i class="fa-solid fa-gift"></i>

            </div>
            <h3>Envío gratis desde $2.500</h3>

            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <div class="icono-p">
                <i class="fa-solid fa-user-shield"></i>

            </div>
            <h3>Seguridad, de principio a fin</h3>

            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.
            </p>
        </section>
        <p class="derechos-autor">copyright &copy; 1999-2020 MercadoLiebre.</p>
    </footer>
</body>
</body>
</html>