header {
  font-family: 'Roboto'; 
  background-color: #EAC926; 
}

body {
  margin: 0;
  font-family: 'Roboto';
}  

.precio {
  font-size: 18px;
  color:black;
}
.titulo {
  color: black;
}
.caja-principal {
  display: flex; 
  justify-content: space-between;
}
  
.Img-log {
  max-width: 85%; 
  height: auto; 
  margin: 5%;
  width: 500px;
}
.barra-busqueda {
  display: flex; 
 align-items: center; 
  max-width: 100%;
  width: 800px;
  height: auto;
}
.burger-menu {
  display: none;
}

.barra-busqueda {
  display: flex; 
 align-items: center; 
  max-width: 100%;
  width: 800px;
  height: auto;
}
  
.barra-busqueda input {
  width: 100%;
  padding: 8px; 
}
  
.barra-busqueda button {
  background: transparent;
  border: none;
  cursor: pointer;
}
  
.register-barra {
  display: flex; 
  align-items: center; 
}
  
.iconos {
  display: flex; 
  align-items: center; 
}
  
.iconos i {
  margin: 5%; 
}


.venta-conteiner-2 {
  display: none; 
}

@media screen and (max-width: 700px) {
  header {
    font-family: 'Roboto'; 
    background-color: #EAC926; 
  }
 .caja-principal {
    display: flex; 
    gap: 0; 
  }
  img {
    max-width: 100%;
    height: auto;
  }

 img {
    overflow: clip;
 }
  
  .Img-log {
    position: relative;
    left:0px ; 
    top: 0px;
    width: 600px; 
    height: auto; 
    padding: 5%;
  }
  .venta-conteiner {
    padding: 30px;
  }

  .barra-arriba {
    display: flex; 
    align-items: center; 
    max-width: 150%; 
    height: auto;
  }
  
  .barra-arriba input {
    width: 100%; 
    padding: 8px; 
  }
  
  .barra-arriba button {
    background: transparent;
    border: none;
    cursor: pointer;
  }


  .barra-arriba {
    display: none; 
  }

  .product-art {
    display:contents;
    justify-content: center; 
    align-items: center;
    margin: 0 auto; 
  }
  .burger-menu {
    background-color: blue;
    color: aliceblue;
    display:block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto;
  }
}
.barra-arriba {
    display: flex; 
   justify-content: space-between; 
   padding: 20px;
 } 
 .barra-opciones {
   display: flex; 
   list-style: none; 
   padding: 0;
   margin: 0;
 }

  .barra-arriba li,
  .register li {
    margin-right: 15px; 
 }
  
 .barra-arriba li a,
   .register-barra li a {
   text-decoration: none; 
 }
  .register-barra i {
    margin-left: 5px; 
  }
 .barra-arriba {
    display: flex;
   justify-content: space-between;
   align-items: center; 
   padding: 10px; 
 }   

 footer {
   display: flex;
 }
 .boton-hamburguesa{
   display: none;
 }

@media screen and (max-width: 700px) {
  .barra-arriba {
      display: none; 
    }


  .burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #1259c3;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .barra-opciones {
    display: flex;
    justify-content: center;
  }

  .boton-hamburguesa {
    display: flex;
    justify-content: center;
    padding: 2%;
  }
 
}

.baner {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.baner img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

main{
  max-width: 100%;
  height: auto;
 background-color: #ebebeb;  

}

.ultimas-visitas {
  color: #333;
  font-size: 48px; 
 padding: 45px;
  margin: 10px 0; 
}

.conteiner-product {
  display: flex;
  flex-wrap: wrap;
}

.product {
  width: 22%;
  margin: 0 auto; 
}

.product-art {
  padding: 0%;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.568);

  margin: 5%;
}

.img-ultimas-visitas img {
  width: 100%;
  height: auto;
}
.img-ultimas-visitas{
  z-index: 0;
}

.product-detalle p  {
  margin: 5px 0;
}
.product-detalle {
  margin: 0% 0;
  background-color: #ffffff;
  padding: 5%;
}
.envio-icono-verde {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #00ff2a;
  margin-left: 70%;
  margin-top: -20%;
  transition: transform 0.3s;
}
.envio-icono-verde {
  color: #0dcb3d;
  font-size:  50px;
}
.envio-icono-verde:hover{
  color: deepskyblue;
  transform: rotate(-90deg) ;
}

.boton-hamburguesa{
  padding: 15px;
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
  .product {
    flex-basis: 44%; 
    margin: 0 auto; 
  }
  .product-art {
    padding: 0%;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.568);
  
    margin: 5%;
  }
  .ultimas-visitas {
    color: #020202;    
    text-align: center; 
    margin: 20px 0; 
  }
  
}

@media screen and (max-width: 768px) {
  .product {
      flex-basis: 100%; 
  }

  .product-art {
    padding: 0%;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.568);
    margin: 5%;
  }
  
  .ultimas-visitas {
    color: #000000; 
   
    text-align: center; 
    margin: 20px 0; 
  }
  .venta-conteiner {
    padding: 30px;
  }
  
}
.price{
  font-size: 40px; 
}
.descuento{
  color: #0dcb3d;
  font-size: 25px; 
}
.titulo{
  font-size: 30px; 
}

a {
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  text-align: center; 
  padding: 2%;
}

section i {
  font-size: 60px;
}

.icono-t,
.icono-e,
.icono-p {
  font-size: 45px;
  color:  #03264C;
  transition: color 0.3s, transform 0.3s;
}


  